body{
    background: #010101;
    color: #7FCD91;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 16px;
}
h1{
    font-size: 42px;
}
.add{
    width: 100%;
    display: flex;
    justify-content: center;
}
input{
    padding: 16px;
    background: transparent;
    border: #7FCD91 1px solid;
    color: #ffffff;
    width: 300px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
input:focus {
  outline: none;
}
.add button{
    background: #7FCD91;
    color: #ffffff;
    border: none;
    padding: 16px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 100px;
}
.add button:hover{
    cursor: pointer;
}
.todo{
    padding: 16px;
    background-color: #7FCD91;
    color: #ffffff;
    border-radius: 8px;
    width: 400px;
    display: flex;
    align-items: center;
    gap: 8px;
}
.todo img:hover{
    cursor: pointer;
}